body, html {
    height: 100%;
    font-family: Arial;
    
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}


.topnav a {
  float: left;
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



.topnav a:hover {
  background-color: purple;
  color: black;
}


.topnav a.active {
  background-color: #2196F3;
  color: white;
}


.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
.heading{
  font-weight: bold;
  font-size: 100px;
}
.active {
  background-color: #04AA6D;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;

  
}
.centered2{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;

}



.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  text-align: center;
  width: 20%;
  padding: 20px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}


.flex-container {
 
  display: flex;
  
  flex-flow: row wrap;
  
  
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  background: rgb(224, 196, 190);
  padding: 25px;
  width: 500px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color:white;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  border-radius: 5%;
}
  .card {
   
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
 
  .container {
    padding: 2px 16px;
  }
  


